body {
    cursor: url('Assets/Miscellaneous/Cursor.png') 0 0, auto;
    background-color: #222222;
    overflow: hidden;
}

.credits_text {
    position: relative;
    text-align: center;
    margin-bottom: 0px;
    color: black;
}

.main_menu {
    position: absolute;
    visibility: visible;
    margin: auto;
    width: 70px;
    height: 70px;
    top: 10px;
    left: 325px;
    z-index: 5;
}

.main_menu_image {
    position: absolute;
    width: 700px;
    height: 600px;
    left: -8px;
}

.generic_button.main_menu_button {
    z-index: 1;
}

.generic_button_image.main_menu_button_image {}

.generic_button_text.main_menu_button_text {
    color: #222;
}

.options_button {
    position: absolute;
    width: 105px;
    height: 58px;
    text-align: center;
}

.options_button_image_inner {
    position: absolute;
    top: 7px;
    left: 28px;
}

.codex {
    position: absolute;
    visibility: hidden;
    width: 700px;
    height: 560px;
    top: 10px;
    left: 280px;
}

.codex_scroll_container {
    position: absolute;
    overflow-y: auto;
    width: 126px;
    height: 605px;
    top: 45px;
    left: 45px;
}

.block_button.codex_button {
    margin-top: 10px;
}

.block_button_image.codex_button_image {}

.block_button_text.codex_button_text {
    font-size: 12px;
    top: 8px;
}

.block_button.tutorial_button,
.block_button.bonus_button {
    margin-top: 2px;
    left: 7px;
}

.block_button_image.tutorial_button_image,
.block_button_image.bonus_button_image {}

.block_button_text.tutorial_button_text,
.block_button_text.bonus_button_text {}

.block_button {
    position: relative;
    width: 126px;
    height: 31px;
}

.block_button_image {
    position: absolute;
}

.block_button_text {
    position: relative;
    text-align: center;
    pointer-events: none;
    margin: 0px;
    top: 5px;
}

.generic_button {
    position: absolute;
    width: 126px;
    height: 71px;
}

.generic_button_image {
    position: absolute;
}

.generic_button_text {
    position: relative;
    text-align: center;
    pointer-events: none;
    margin: 0px;
    top: 23px;
}