body {
    cursor: url('Assets/Miscellaneous/Cursor.png') 0 0, auto;
    background-color: #222222;
    overflow: hidden;
}

.main_menu {
    position: absolute;
    visibility: visible;
    margin: auto;
    width: 70px;
    height: 70px;
    top: 10px;
    left: 325px;
    z-index: 5;
}

.main_menu_image {
    position: absolute;
    width: 700px;
    height: 600px;
    left: -8px;
}

.main_menu_button {
    position: absolute;
    z-index: 1;
    width: 126px;
    height: 71px;
}

.main_menu_button_image {
    position: absolute;
}

.main_menu_button_text {
    position: relative;
    pointer-events: none;
    text-align: center;
    color: black;
    margin: 0px;
    top: 23px;
}

.credits_text {
    position: relative;
    text-align: center;
    margin-bottom: 0px;
    color: black;
}

.codex {
    position: absolute;
    visibility: hidden;
    width: 700px;
    height: 560px;
    top: 10px;
    left: 280px;
}

.codex_scroll_container {
    position: absolute;
    overflow-y: auto;
    width: 126px;
    height: 605px;
    top: 45px;
    left: 45px;
}

.codex_button {
    position: relative;
    margin-top: 10px;
    width: 126px;
    height: 31px;
}

.codex_button_image {
    position: absolute;
}

.codex_button_text {
    position: relative;
    text-align: center;
    font-size: 12px;
    margin: 0px;
    top: 8px;
}

.block_button {
    position: relative;
    margin-top: 2px;
    width: 126px;
    height: 31px;
    left: 7px;
}

.block_button_image {
    position: absolute;
}

.block_button_text {
    position: relative;
    text-align: center;
    pointer-events: none;
    margin: 0px;
    top: 5px;
}

.generic_button {
    position: absolute;
    width: 126px;
    height: 71px;
}

.generic_button_image {
    position: absolute;
}

.generic_button_text {
    position: relative;
    text-align: center;
    pointer-events: none;
    margin: 0px;
    top: 23px;
}